/* .fontFamily2{
    font-size: 200px;
    font-weight:900;

} */
body{
  box-sizing: border-box;
}
.slick-slide > div {
    margin: 0 10px;
  }
  .slick-list {
    margin: 0 -10px;
  }
  @media only screen and (min-width:1279px) and (max-width:1536px){
    .slick-slide > div {
        margin: 0 16px;
      }
      .slick-list {
        margin: 0 -16px;
      }
    
  } 
  @media only screen and (min-width:767px) and (max-width:770px){
    .slick-slide > div {
        margin: 0 50px;
      }
      .slick-list {
        margin: 0 -50px !important; 
      }
    
  } 
  @media only screen and  (max-width:440px){
    .slick-slide  {
        margin: 0 0px !important;
      }
      .slick-list {
        margin: 0 -0px !important; 
      }
    
  } 